<h4>Search for a Chord:</h4>
<div class="chordsearch container">
  <div class="row">
    <div class="col s6 offset-s3">

      <!-- View to search for a chord -->
      <br>
        <%= form_tag("/chords/guitar-party-api", method: "post") do |f| %>
          <%= label_tag(:chord_search, "Search for a Chord:") %>
          <%= text_field_tag(:chord_search) %> <br>
          <%= submit_tag("Submit")%>
        <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col s12">

      <img id="chordsearch" src="/assets/acoustic1.jpg" alt="">

    </div>
  </div>
</div>
