<h4><u>Favorite Chords:</u></h4>
<div class="container">
  <div class="row">
    <div class="col s6 offset-s3 chorddiv">


      <% @saved.each do |response| %>
        <p>Name: <%= response.name %></p>
        <p> <img src= <%= response.image_url %> > </p>
        <p>Fretboard Code: <%= response.code %></p>
        <%= link_to 'Delete',  { action: :destroy, id: response.id }, method: :delete%>
        <hr>
      <% end %>

    </div>
  </div>
</div>
