<div class="profile container">
  <div class="row">
    <div class="col s12">

      <h4>Username:</h4><%= @user.username %>
      <br><br>
      <h4>Email:</h4><%= @user.email %>
      <br><br>
      <h4>Avatar:</h4><%= image_tag @user.avatar.url %>
      <br><br>

      <h4><%= link_to "Edit Profile", edit_user_registration_path %></h4>
    </div>
  </div>
</div>
