<div class="welcome container">
  <h1><%= @message %></h1>

  <div class="row">
    <div class="col s12">
      <!-- <img class="welcomeimg" src="/assets/Music-lyrics-vector-background.jpg" alt=""> -->
    </div>
  </div>


  <div class="row welcometext">
    <div class="col s12">

      <h4>
        <i class="material-icons">search</i>
      <h4>

      <h4>
        Create a personal Songbook or Chordbook.
      </h4>

      <h4>
        <i class="material-icons">library_music</i>
      </h4>

      <h4>
        Create and manage Setlists.
      </h4>

    </div>
  </div>

<div class="row">
  <div class="col s12">

    <div class="carousel">
      <a class="carousel-item" href="#one!"><img class="carouselimage"  src="/assets/acoustic2.jpg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselimage" src="/assets/sheetmusic2.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselimage" src="/assets/acoustic3.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselimage" src="/assets/piano1.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselimage" src="/assets/acoustic4.jpg"></a>
    </div>

  </div>
</div>

</div
