<div class="welcome container">

  <h1><%= @message %></h1>

  <div class="row">
    <div class="col s12">

      <h4>
        <i class="material-icons">search</i>
        <i class="material-icons">library_music</i>
        <i class="material-icons">play_for_work</i>
      <h4>

      <h4>
        Create a personal Songbook or Chordbook. Create and manage Setlists. Great for beginners, hobbyists, or gigging musicians.
      </h4>

    </div>
  </div>

    <div class="carousel">
      <a class="carousel-item" href="#one!"><img class="carouselimage"  src="/assets/acoustic2.jpg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselimage" src="/assets/sheetmusic2.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselimage" src="/assets/acoustic3.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselimage" src="/assets/piano1.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselimage" src="/assets/acoustic4.jpg"></a>
    </div>

</div
