<h4>Search for a Song:</h4>
<div class="songsearch container">
  <div class="row">
    <div class="col s6 offset-s3">

      <br>
        <%= form_tag("/songs/guitar-party-api", method: "post") do |f| %>
          <%= label_tag(:song_search, "Search for a Song:") %>
          <%= text_field_tag(:song_search) %> <br>
          <%= submit_tag("Submit")%>
        <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col s12">

      <img id="songsearch" src="/assets/sheetmusic1.jpg" alt="">

    </div>
  </div>
</div>
</div>
