<div class="setlistindex container">
  <div class="row">
    <div class="col s6 offset-s3">

      <h4> <%= link_to "Create A New Setlist", new_playlist_path %> </h4>

      <br>

      <h4>All Setlists:</h4>
      <h5>Click a playlist, takes you to actual playlist.</h5>


      <% @playlist.each do |playlist| %>
        <%= playlist %>

        <% end %>

    </div>
  </div>
</div>
